.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #333333;
}
