.productCard {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #358f80;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.favouriteIcon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 25px;
  transition: transform 0.3s ease;
}

.favouriteIcon:hover {
  transform: scale(1.25);
}

.favouriteIcon.active {
  fill: red;
  stroke: red;
}

.productText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
}

.productCategory {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.productTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  white-space: nowrap;
}

.productDesc {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  line-height: 1.3;
}

.productMetrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.productPrice {
  color: #358f80;
  font-weight: 600;
  font-size: 2rem;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
