.qtyControlsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  margin: 0 1rem 2rem 1rem;
}

.qtyButtonMinus,
.qtyButtonPlus {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1rem;
  background-color: #358f80;
  border: 0;
  color: white;
  border-radius: 10px;
  max-height: 50px;
  transition: background-color 0.3s ease;
}

.qtyButtonMinus:hover,
.qtyButtonPlus:hover {
  background-color: #14746f;
}

.qtyText {
  text-align: center;
}

.qtyText p {
  margin: 0;
}
