.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carouselSlide img {
  display: block;
  object-fit: cover;
  max-height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  max-inline-size: 100%;
  box-shadow: var(--box-shadow-light);
}

.prev,
.next {
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  cursor: pointer;
  border-radius: 2px;
  border: none;
  padding: 0.8rem;
  color: #f2f2f2;
  background-color: transparent;
  transition: 0.6s ease;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
