.App {
  display: grid;
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow-x: hidden;
  gap: 2rem;
  position: relative;
}

.homePage {
  grid-template-rows: 1fr auto;
}

.overlayHeader {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.otherPage {
  grid-template-rows: minmax(100px, auto) minmax(81vh, 1fr) auto;
}

.normalHeader {
  position: static;
  background-color: white;
  border-bottom: 1px solid #f1f2f3;
}
