.App {
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr;
  min-height: 100vh;
  background-color: #f8f8f8;
  overflow-x: hidden;
  gap: 2rem;
  position: relative;
}

.overlayHeader {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.normalHeader {
  position: static;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 10px;
}