.Header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
  width: 100vw; /* to prevent layout shift due to scrollbar */
}

.hamburgerIcon {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.headerTitle a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 2rem;
}

.headerTitle a,
.headerTitle a:visited {
  text-decoration: none;
  color: black;
}

.logo {
  width: 40px;
  height: 40px;
}


