.Header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.headerTitle a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 2.2rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.navLinks {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 6rem;
  font-weight: 500;
  padding: 0;
}

.searchSection,
.cartLink,
.shopLink,
.favouritesLink {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.searchSection {
  position: relative;
}

.searchInput {
  border-radius: 20px;
  padding: 0.7rem 8rem 0.7rem 2.5rem;
  width: 100%;
  border: 1px solid black;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
}

.searchInput::placeholder {
  color: black;
}

.searchIcon {
  position: absolute;
  left: 10px;
}

.searchButton {
  font-size: 1rem;
  position: absolute;
  right: 5px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #333333;
}


.headerTitle a,
.headerTitle a:visited,
.cartLink,
.cartLink:visited,
.shopLink,
.shopLink:visited,
.favouritesLink,
.favouritesLink:visited {
  text-decoration: none;
  color: black;
}

/* Animation */

.cartLink,
.shopLink,
.favouritesLink {
  display: inline-block;
}

.cartLink::after,
.shopLink::after,
.favouritesLink::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cartLink:hover::after,
.shopLink:hover::after,
.favouritesLink:hover::after {
  width: 100%;
}
