.Header {
  display: flex;
  justify-content: center;
  padding: clamp(0rem, 1.5vw, 1rem);
  width: 100vw; /* to prevent layout shift due to scrollbar */
}

.hamburgerIcon,
.mobileLinks {
  display: none;
}

.desktopLinks {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.headerTitle a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: clamp(1.3rem, 3vw, 2rem);
}

.headerTitle a,
.headerTitle a:visited {
  text-decoration: none;
  color: black;
}

.logo {
  width: clamp(2rem, 1.6rem + 0.95vw, 2.5rem);
  height: 40px;
}

/* same as js breakpoint */
@media (max-width: 1200px) {
  nav {
    justify-content: space-between;
    padding-inline: clamp(2rem, 1.3rem + 1.9vw, 3rem);
  }

  .hamburgerNav {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .hamburgerIcon {
    display: block;
    cursor: pointer;
    width: clamp(2rem, 1.6rem + 0.95vw, 2.5rem);
  }

  .desktopLinks {
    display: none;
  }

  .mobileRightSide {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  .mobileLinks {
    display: flex;
    flex: 1 100%;
  }

  /* other */
  .expand {
    height: 110vh;
    background-color: white;
  }

  .noScroll {
    overflow: hidden;
    height: 100vh;
  }
}

@media (max-width: 600px) {
  nav {
    padding-inline: clamp(0.5rem, 1.5vw, 3rem);
  }
}
