.Header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.1);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.headerTitle {
  text-align: center;
}

.navLinks {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  padding: 0;
}

.searchSection,
.cartLink,
.shopLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchInput {
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.04);
  padding: 0.6rem;
  width: 100%;
  border: 1px solid rgb(180, 180, 180);
  outline: none;
}

.headerTitle a,
.headerTitle a:visited,
.cartLink,
.cartLink:visited,
.shopLink,
.shopLink:visited {
  text-decoration: none;
  color: black;
}
