.Header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.headerTitle {
  text-align: center;
}

.navLinks {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0;
}

.searchSection,
.cartLink,
.shopLink,
.favouritesLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchSection {
  position: relative;
}

.searchInput {
  border-radius: 15px;
  padding: 0.6rem 0.6rem 0.6rem 0.8rem;
  width: 100%;
  border: 1px solid black;
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 10px;
}

.headerTitle a,
.headerTitle a:visited,
.cartLink,
.cartLink:visited,
.shopLink,
.shopLink:visited, .favouritesLink,
.favouritesLink:visited {
  text-decoration: none;
  color: black;
}
