.Header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  width: 100vw; /* to prevent layout shift due to scrollbar */
}

.hamburgerIcon,
.mobileLinks {
  display: none;
}

.desktopLinks {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.headerTitle a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  font-size: 2rem;
}

.headerTitle a,
.headerTitle a:visited {
  text-decoration: none;
  color: black;
}

.logo {
  width: 40px;
  height: 40px;
}

@media (max-width: 1200px) {
  .hamburgerIcon {
    display: block;
  }

  .desktopLinks {
    display: none;
  }

  .mobileLinks {
    display: block;
    background-color: white;
  }
}
