.heroImg {
  object-fit: cover;
  object-position: 50% 60%;
  max-height: 100vh;
  width: 100%;
  max-inline-size: 100%;
  box-shadow: var(--box-shadow-light);
  user-select: none;
}

@media (min-width: 600px) {
  .heroImg {
    aspect-ratio: 16 / 9;
  }
}

@media (max-width: 600px) {
  .heroImg {
    aspect-ratio: 4 / 5;
  }
}
