.navLinks {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 6rem;
  font-weight: 500;
  padding: 0;
}

.cartLink,
.shopLink,
.favouritesLink {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
}

.cartLink,
.cartLink:visited,
.shopLink,
.shopLink:visited,
.favouritesLink,
.favouritesLink:visited {
  text-decoration: none;
  color: black;
}

/* Animation */

.cartLink,
.shopLink,
.favouritesLink {
  display: inline-block;
}

.cartLink::after,
.shopLink::after,
.favouritesLink::after {
  margin-top: 5px;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.cartLink:hover::after,
.shopLink:hover::after,
.favouritesLink:hover::after {
  width: 100%;
}
