.refinePanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.categoryContent,
.sortContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #f1f2f3;
  border-radius: 0 0 10px 10px;
}

.categoryContent label {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.sortContent div {
  border: 1px solid #f1f2f3;
  cursor: pointer;
  padding: 0.5rem;
}

@media (max-width: 468px) {
  .refinePanel {
    justify-content: center;
  }
}
