.Favourites {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding-inline: 1rem;
  height: 100%;
}

.Favourites > h2 {
  grid-column: span 2;
  padding-left: 1rem;
}

.productGrid {
  display: grid;
  padding: 0 1rem 1rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 1rem;
}

/* empty page */

.emptyFavourites {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emptyFavourites h3 {
  margin-bottom: 0;
  font-size: 2rem;
}

.emptyFavourites p {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.inlineHeart {
  cursor: pointer;
  transition: transform 0.3s ease;
  user-select: none;
}

.inlineHeart:hover {
  transform: scale(1.2);
}

.inlineHeart.active {
  fill: red;
  stroke: red;
}

@media (max-width: 655px) {
  .productGrid {
    grid-template-columns: minmax(200px, 1fr);
  }

  .Favourites > h2 {
    padding-left: 0;
    text-align: center;
  }

  .emptyFavourites {
    text-align: center;
  }

  .emptyFavourites p {
    flex-wrap: wrap;
    justify-content: center;
  }
}
