.Favourites {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding-inline: 2rem;
  height: 100%;
}

.Favourites > h2 {
  grid-column: span 2;
}

.productGrid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 1rem;
}

/* empty page */

.emptyFavourites {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.emptyFavourites h3 {
  margin-bottom: 0;
  font-size: 2rem;
}

.emptyFavourites p {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.inlineHeart {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inlineHeart:hover {
  transform: scale(1.2);
}

.inlineHeart.active {
  fill: red;
  stroke: red;
}

.shopLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.shopLink:hover {
  background-color: #333333;
}
