.HomePage {
  min-height: 100vh;
  display: grid;
  gap: 2rem;
}

/* Hero */

.hero {
  background-image: url(../../../assets/images/hero/skincare.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  aspect-ratio: 16 / 9;
  max-height: 100vh;
  width: 100%;
  max-inline-size: 100%;
  box-shadow: var(--box-shadow-light);
  position: relative;
}

.hero button {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  top: 53%;
  left: 6.7%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.hero button:hover {
  background-color: #333333;
}

/* Top Categories */

.categoriesTitle,
.mostPopularTitle,
.aboutUsTitle {
  font-size: 1.8rem;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(200px, 400px));
  gap: 1.5rem;
  border-radius: 10px;
  margin-inline: 3rem;
}

.categoriesGrid > div {
  position: relative;
}

.categoriesGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

.categoriesGrid span {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoriesGrid span:hover {
  background-color: #f0f0f0;
}

.furnitureCategory {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.fragranceCategory img {
  object-position: 50% 60%;
}

.skincareCategory img {
  grid-row: 2;
  grid-column: 2;
  object-position: 60% 50%;
}

.categoriesTitle,
.mostPopularTitle,
.aboutUsTitle {
  text-align: center;
}

/* Most Popular */

/* About us */

.aboutUsGrid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  height: 500px;
  position: relative;
  margin-inline: 3rem;
}

.sustainability::before,
.stores::before,
.ourStory::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.ourStory::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.sustainability > *,
.stores > *,
.ourStory > * {
  position: relative;
  z-index: 2;
}

.sustainability,
.stores,
.ourStory {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 100%;
  color: white;
  overflow: hidden;
}

.sustainability,
.stores,
.ourStory h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.sustainability {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url(../../../assets/images/about-us/sustainability.jpg);
}

.stores {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-image: url(../../../assets/images/about-us/stores.jpg);
}

.ourStory {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  background-image: url(../../../assets/images/about-us/our-story.jpg);
  background-position: 40% 50%;
  padding: 1rem;
}

/* NewsLetter */

.newsletterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/images/newsletter/newsletter.jpg);
  max-width: 100%;
  margin-inline: 3rem;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  position: relative;
}

.newsletterContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.newsletterContainer > * {
  position: relative;
  z-index: 2;
}

.newsletterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.newsletterDescription {
  font-size: 1.2rem;
}

.newsletterInput {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.9rem 6.8rem 0.9rem 1rem;
  position: relative;
  box-shadow: var(--box-shadow-light);
  margin-bottom: 1.5rem;
}

.newsletterButton {
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0.6rem 1rem;
  position: absolute;
  right: 3px;
  top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletterButton:hover {
  background-color: #333333;
}
