.HomePage {
  min-height: 100vh;
  display: grid;
  gap: 2rem;
}

.categoriesTitle {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  border-radius: 10px;
}

.categoriesGrid > div {
  position: relative;
}

.categoriesGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

.categoriesGrid span {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
}

.furnitureCategory {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.furnitureCategory img {
  object-position: 60% 50%;
}

.skincareCategory img {
  grid-row: 2;
  grid-column: 2;
  object-position: 60% 50%;
}

.categoriesTitle,
.mostPopularTitle,
.aboutUsTitle {
  text-align: center;
}
