.HomePage {
  min-height: 100vh;
  display: grid;
  gap: 2rem;
}

/* Top Categories */

.categoriesTitle {
  margin-top: 0;
  margin-bottom: 2rem;
}

.categoriesTitle,
.mostPopularTitle,
.aboutUsTitle {
  font-size: 1.8rem;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  border-radius: 10px;
}

.categoriesGrid > div {
  position: relative;
}

.categoriesGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
}

.categoriesGrid span {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
}

.furnitureCategory {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.furnitureCategory img {
  object-position: 60% 50%;
}

.skincareCategory img {
  grid-row: 2;
  grid-column: 2;
  object-position: 60% 50%;
}

.categoriesTitle,
.mostPopularTitle,
.aboutUsTitle {
  text-align: center;
}

/* Most Popular */

/* About us */

/* NewsLetter */
.newsletterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/images/newsletter/newsletter.jpg);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  position: relative;
}

.newsletterContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.newsletterContainer > * {
  position: relative;
  z-index: 2;
}

.newsletterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.newsletterDescription {
  margin-top: 0;
  font-size: 1.2rem;
}

.newsletterInput {
  margin-top: 1rem;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.9rem 7.5rem 0.9rem 1rem;
  position: relative;
  box-shadow: var(--box-shadow-light);
}

.newsletterButton {
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 3px;
  top: 21px;
  cursor: pointer;
}