.addToCartBtn {
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #358f80;
  border-radius: 10px;
  border: none;
  height: 50px;
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;
  transition: background-color 0.3s ease;
}

.addToCartBtn:hover {
  background-color: #14746f;
}
