.Shop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
  padding-inline: 1rem;
  height: 100%;
}

.productGrid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 1rem;
}

/* empty shop */

.emptyShop {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.emptyShop h3 {
  margin: 0;
  font-size: 2rem;
}

.emptyShop p {
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .productGrid {
    grid-template-columns: minmax(200px, 1fr);
  }
}
