.Shop {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px, auto) 1fr;
  row-gap: 1rem;
}

.productGrid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 1rem;
}
