.Shop {
  display: grid;
  grid-template-columns: minmax(200px, 25%) 1fr;
}

.sidebar {
  background-color: white;
}

.productGrid {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  gap: 1rem;
}

.productCard {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #358f80;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem;
}

.productCategory {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
}

.productTitle {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 3.9rem;
  line-height: 1.3;
}

.productDesc {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  line-height: 1.3;
}

.productMetrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.productPrice {
  color: #358f80;
  font-weight: 600;
  font-size: 2rem;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.addToCartBtn {
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #358f80;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  margin: 0 1rem 2rem 1rem;
  transition: background-color 0.3s ease;
}

.addToCartBtn:hover {
  background-color: #14746f;
}
