.searchSection {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  position: relative;
}

.searchInput {
  border-radius: 20px;
  padding: 0.7rem 5rem 0.7rem 2.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: var(--box-shadow-light);
  line-height: 1.3;
}

.searchInput::placeholder {
  color: gray;
}

.searchIcon {
  position: absolute;
  left: 10px;
}

.searchButton {
  font-size: 1rem;
  position: absolute;
  right: 5px;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #333333;
}

.hidden {
  visibility: hidden;
}
