.searchSection {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px;
}

@media (max-width: 1200px) {
  .overlayContainer {
    position: fixed;
    padding: 1rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 90vh;
    z-index: 98;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  .overlayControls {
    position: relative;
  }

  .noScroll {
    overflow: hidden;
    height: 100vh;
  }

  .blackBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    z-index: 100;
  }

  .closeIcon {
    right: 1.5rem;
    min-width: 25px;
    cursor: pointer;
  }

  .searchIcon {
    cursor: pointer;
  }
}
